In [1]:
A=10

In [2]:
B=22

In [3]:
sum=A+B

In [4]:
    print(sum)

32

In [5]:
A=A+A

In [6]:
print(A)

20

In [7]:
A**3

8000

In [8]:
my_salary=20000
tax_applied=0.3

In [9]:
tax_paid=tax_applied*my_salary

In [10]:
print(tax_paid)

6000.0

In [11]:
net_salary=my_salary-tax_paid

In [12]:
print(net_salary)

14000.0

In [13]:
print(A)

20

In [14]:
type(tax_applied)

float

In [15]:
type(A)

int

In [16]:
7//4

1

In [17]:
7%4

3

In [18]:
1+10**3

1001

In [19]:
2+10*10+3

105