<a href="https://colab.research.google.com/github/SoumeshPattanaik/DivineAI/blob/main/Reaading_data_and_making_sensible_data_frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii",parse_dates = [[0,1]],infer_datetime_format = True,header = None,)

In [14]:
data.head(20)

          0_1         2
0  1950-01-01 -0.060310
1  1950-02-01  0.626810
2  1950-03-01 -0.008128
3  1950-04-01  0.555100
4  1950-05-01  0.071577
5  1950-06-01  0.538570
6  1950-07-01 -0.802480
7  1950-08-01 -0.851010
8  1950-09-01  0.357970
9  1950-10-01 -0.378900
10 1950-11-01 -0.515110
11 1950-12-01 -1.928100
12 1951-01-01 -0.084969
13 1951-02-01 -0.399930
14 1951-03-01 -1.934100
15 1951-04-01 -0.776480
16 1951-05-01 -0.862780
17 1951-06-01 -0.917860
18 1951-07-01  0.090023
19 1951-08-01 -0.377410

In [15]:
data.columns = ['month','value']
data.index = data.month
data = data.drop('month',1)

In [16]:
data.head()

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577

In [17]:
data['1950':'1952']

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577
1950-06-01  0.538570
1950-07-01 -0.802480
1950-08-01 -0.851010
1950-09-01  0.357970
1950-10-01 -0.378900
1950-11-01 -0.515110
1950-12-01 -1.928100
1951-01-01 -0.084969
1951-02-01 -0.399930
1951-03-01 -1.934100
1951-04-01 -0.776480
1951-05-01 -0.862780
1951-06-01 -0.917860
1951-07-01  0.090023
1951-08-01 -0.377410
1951-09-01 -0.817780
1951-10-01 -0.212910
1951-11-01 -0.068519
1951-12-01  1.987200
1952-01-01  0.368250
1952-02-01 -1.747200
1952-03-01 -1.859500
1952-04-01  0.538520
1952-05-01 -0.773510
1952-06-01 -0.440930
1952-07-01  0.383080
1952-08-01 -0.030367
1952-09-01 -0.383450
1952-10-01 -0.437170
1952-11-01 -1.890900
1952-12-01 -1.826700

In [18]:
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [19]:
data['1951-11-11':'1951-11-12']

Empty DataFrame
Columns: [value]
Index: []

In [20]:
# Period Index
data_pd = data.to_period()

In [22]:
data_pd['1951-11-11':'1951-12-12']

            value
month
1951-11 -0.068519
1951-12  1.987200

In [26]:
# Performance of various Loads perform
# Calculating execution time
import timeit

print("infer_datetime_format = True, no date parser\n")
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, header = None,)

print("infer_datetime_format = False, no date parser\n")
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = False, header = None,)


print("infer_datetime_format = True, no date parser\n")
dateparse = lambda x,y: pd.datetime.strptime('%s-%s'%(x,y),'%Y-%m')
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True,date_parser = dateparse, header = None,)

print("infer_datetime_format = False, no date parser\n")
dateparse = lambda x,y: pd.datetime.strptime('%s-%s'%(x,y),'%Y-%m')
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = False,date_parser = dateparse, header = None,)

infer_datetime_format = True, no date parser

1 loop, best of 5: 475 ms per loop
infer_datetime_format = False, no date parser

1 loop, best of 5: 473 ms per loop
infer_datetime_format = True, no date parser

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  del sys.path[0]

1 loop, best of 5: 484 ms per loop
infer_datetime_format = False, no date parser

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

1 loop, best of 5: 483 ms per loop

In [29]:
# Already having the datframe and parsing columns
df = pd.DataFrame({'year':[2015,2016],'month':[6,3],'day':[7,5],'hour':[9,10]})
df

   year  month  day  hour
0  2015      6    7     9
1  2016      3    5    10

In [30]:
pd.to_datetime(df)

0   2015-06-07 09:00:00
1   2016-03-05 10:00:00
dtype: datetime64[ns]

In [37]:
# Truncate function
ts = pd.Series(range(10),index = pd.date_range('7/31/2015', freq = 'M', periods = 10))
ts.truncate(before='10/31/2015',after='12/31/2015')

2015-10-31    3
2015-11-30    4
2015-12-31    5
Freq: M, dtype: int64

In [38]:
# Breaking Frequency
ts[[0,2,6]].index

DatetimeIndex(['2015-07-31', '2015-09-30', '2016-01-31'], dtype='datetime64[ns]', freq=None)